@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Henny+Penny&display=swap');
:root {
    --main-bg-color: rgb(233, 93, 93);
    --not-avalible: rgb(185, 128, 128);
    --today-color: rgb(146, 233, 141);
    --box-color: #FEC0C0
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.title-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
h1 {
   color: white;
   font-family: 'Henny Penny';
}
.boxes-table{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 4vw;
    gap: 2vw;
    flex: 1;
    padding-bottom: 25px;
}
.div-box {
    font-size: 2rem;
    color: rgb(78, 78, 78);
    font-family: 'Hachi Maru Pop';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.3s ease;
}

.div-box.not-avalible {
    background-color: var(--not-avalible);
}

.div-box.today {
    background-color: var(--today-color);
    animation: shake-scale-pause 4s infinite;
}

.avalible-hover:hover {
    animation: shake-scale 0.5s ease-in-out;
}

@keyframes shake-scale {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
        transform: scale(1.1) rotate(-5deg);
    }
    75% {
        transform: scale(1.1) rotate(3deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes shake-scale-pause {
    0% {
        transform: scale(1) rotate(0deg);
    }
    5% {
        transform: scale(1.1) rotate(5deg);
    }
    10% {
        transform: scale(1.1) rotate(-5deg);
    }
    15% {
        transform: scale(1.1) rotate(3deg);
    }
    20% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}


.present-div {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
    border-radius: 20%;
    background-color:  rgb(255, 221, 221);
    box-shadow: 0px 0px 13px 15px rgb(255, 221, 221);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.present-div.visible {
    display: flex;
    animation: mini-explosion 0.3s ease-out;
}

@keyframes mini-explosion {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5); /* Agranda el objeto */
    }
    100% {
        transform: scale(1); /* Vuelve al tamaño normal */
    }
}